<div th:fragment="navbar (usr)" >
    <nav style="margin-bottom: 10px !important;">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">TeleKilogram <i class="material-icons">keyboard</i>&nbsp;</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li th:if="${usr.getAuthorities().contains(Role.ADMIN) || usr.getAuthorities().contains(Role.MODERATOR)}">
                    <a href="/user">Users</a>
                </li>
                <li><i><a href="/logout" th:text="${usr.getUsername()}"></a></i></li>
            </ul>
        </div>
    </nav>
</div>

<nav th:fragment="search">
    <div class="nav-wrapper">
        <form>
            <div class="input-field">
                <input id="search" type="search" required>
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
            </div>
        </form>
    </div>
</nav>