<div th:fragment="user_view (usr)">
    <span class="title" th:text="${usr.getUsername()}"></span>
    <span th:text="${usr.getAuthorities()}"></span>
    <form method="post" th:action="'/user/give_ban/' + ${usr.getId()}" class="col s2 m3 l4 secondary-content" style="display: inline;">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <input type="submit" th:value="${usr.getRoles().contains(Role.BAN)} ? 'Unban' : 'Ban'" class="waves-effect waves-teal btn-flat">
    </form>
    <form method="post" th:action="'/user/give_moderator/' + ${usr.getId()}" class="col s2 m3 l4 secondary-content" style="display: inline;">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <button type="submit" th:text="${usr.getRoles().contains(Role.MODERATOR)} ? 'Remove from moderators' : 'Make moderator'" class="waves-effect waves-teal btn-flat"></button>
    </form>
</div>
