<ul th:fragment="user_view (users, superuser)" class="collection">
    <li th:each="usr: ${users}" class="collection-item">
        <span class="title" th:text="${usr.getUsername()}"></span>
        <span th:text="${usr.getAuthorities()}"></span>
        <form method="post" th:action="'/user/give_ban/' + ${usr.getId()}" class="col s2 m3 l4 secondary-content" style="display: inline;"
            th:if="${!superuser.equals(usr)}">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <input type="submit" th:value="${usr.isBanned()} ? 'Unban' : 'Ban'" class="waves-effect waves-teal btn-flat">
        </form>
        <form method="post" th:action="'/user/give_moderator/' + ${usr.getId()}" class="col s2 m3 l4 secondary-content" style="display: inline;"
              th:if="${superuser.isAdmin() && !superuser.equals(usr)}">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <button type="submit" th:text="${usr.isModerator()} ? 'Remove from moderators' : 'Make moderator'" class="waves-effect waves-teal btn-flat"></button>
        </form>
    </li>
</ul>
