<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Telekilogram</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div>
        <form method="post">
            <label>Hello [[${#httpServletRequest.remoteUser}]]!</label>
            <input type="hidden" name="user" th:value="${#httpServletRequest.remoteUser}"><br>
            <textarea name="text" placeholder="Your message"></textarea><br>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <button type="submit">Send message</button>
        </form>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out" />
        </form>
    </div>
    <hr>
    <div>
        <div th:each="msg : ${messages}">
            <label th:text="${msg.get('user')}"></label>
            <p th:text="${msg.get('text')}"></p>
        </div>
    </div>
</body>
</html>
