<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Telekilogram: ' + ${room.getName()}"></title>
</head>
<body>
    <div style="overflow-y:scroll;">
        <div th:each="msg: ${messages}">
            <i th:text="${msg.getAuthorName()}"></i>
            <span th:text="${msg.getText()}"></span>
            <form th:action="'/deleteMessage/' + ${msg.getId()}" method="post"
                  th:if="${user.canRemove()}"  style="display:inline-block;">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <input type="submit" value="Delete">
            </form>
        </div>
    </div>
    <form method="post">
        <textarea name="text" placeholder="Your message"></textarea>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <input type="submit" value="Send message">
    </form>
</body>
</html>